nav{
    position: fixed;
    top: 650px;
    width: 514px;
    height: 50px;
    background-color: #222;
    border-radius: 40px ;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items:center ;
    left: 400px;
    
}
 nav a
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;


}
nav span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
    height: 100%;
    background: linear-gradient(45deg,#4f1919,#ff4444);
    border-radius: 40px;
    transition: .25s;
    z-index: 0;
    pointer-events: none;
}

nav a:nth-child(1):hover~span
{
    left: 0;
}
nav a:nth-child(2):hover~span
{
    left: 100px;
}
nav a:nth-child(3):hover~span
{
    left: 189px;
    width: 110px;
}
nav a:nth-child(4):hover~span
{
    left: 289px;
    width: 115px;
} 
nav a:nth-child(5):hover~span
{
    left: 413px;
    width: 100px;
} 
body{
    height: 100vh;
    width: 100vh;
    background-color: silver;
}
.centre{
    position: relative;
    width: 430px;
    margin: 130px;
    height: 540px;
    top: -70px;
    left: 300px;
    background:white;
    border-radius: 30px;
}
#form{
    display: flex;
    flex-direction: column;
    color: white !important;
}

#form input {
  width: 350px;
  margin-top: 10PX;
  margin-bottom: 0PX;
  margin-left: 23px;
  height: 30px;
  font-size: 18px;
  padding: 8px 12px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color:rgb(210, 218, 226);

}
#form p{
    color: black;
    position: relative;
    left: 25px;
    top: 10px;
}

#main {
  width: 350px;
  margin-top: 10PX;
  margin-bottom: 0PX;
  margin-left: 23px;
  height: 70px;
  font-size: 18px;
  padding: 8px 12px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color:rgb(210, 218, 226);
}



/* .centre .header{
    /* position: relative;
    background-color: #4f1919;
    font-weight: bold;
    color: black;
    padding: 25px 0 30px 25px;
    align-content:center;
    border:  10px;
    color: black;
    height: 50px;
    width: 200px;
    margin: ;}
     */


.header {
  position: relative;
  color:white;
  font-size: 30px;
  height: 60px;
  width: 100%;
  margin-top: 0;       
  top: 0;  
  margin-bottom: 0;
  bottom: 0px;          
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(135deg, #667eea, #764ba2);

}
#Submit{
    height: 50px;
    width: 130px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    position: relative;  /* or absolute if you want to position it manually */
    top: 35px;
    left: 150px;
    background: linear-gradient(135deg, #667eea, #764ba2);

}