body {
    background: linear-gradient(to  right,grey,white,white,white,white,grey);
    background-size: cover;
    height: 100vh;
    margin: 0;
    height: 100vh;
}
.topcontainer{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 20px;
}

.profile{
    padding: 10px 15px;
    align-items: center;
    display: flex;
    margin-left: 50px; 
    margin-top: 90px;

}
/* nav {
  position: relative;
  width: 524px;
  height: 50px;
  background-color: #222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  z-index: 2;            
  color: white;
  text-decoration: none;
  padding: 0 23px;
  display: inline-block;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg,#ff0000,#ff8080);
  border-radius: 8px;
  z-index: 1;               
  pointer-events: none;     
  transition: 0.25s;
}

nav a:nth-child(1):hover ~ span { left: 0; }
nav a:nth-child(2):hover ~ span { left: 105px; }
nav a:nth-child(3):hover ~ span { left: 210px; width: 110px; }
nav a:nth-child(4):hover ~ span { left: 320px; width: 115px; }
nav a:nth-child(5):hover ~ span { left: 430px; width: 110px; } */

nav{
    position: fixed;
    top: 650px;
    width: 514px;
    height: 50px;
    background-color: #222;
    border-radius: 40px ;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items:center ;
    left: 400px;
    
}
 nav a
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;


}
nav span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,#4f1919,#ff4444);
    border-radius: 40px;
    transition: .25s;
    z-index: 0;
    pointer-events: none;
}

nav a:nth-child(1):hover~span
{
    left: 0;
}
nav a:nth-child(2):hover~span
{
    left: 100px;
}
nav a:nth-child(3):hover~span
{
    left: 189px;
    width: 110px;
}
nav a:nth-child(4):hover~span
{
    left: 289px;
    width: 115px;
} 
nav a:nth-child(5):hover~span
{
    left: 413px;
    width: 100px;
} 

p {
    font-size: 40px;
    color: black;
    margin:0px;
    padding: 25px 25px
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid green;
    object-fit: cover;
    background-color:white;
    object-fit: cover;
}
.main{
    align-items: center;
    gap: 10px;
    margin-left: 430px; 
    margin-top: 100px;
    width: 410px; 

}
 
.para{
    width: 390px;              
    height: 150px; 
    align-items: center;
    margin-top: 10px;
    font-size: 10 px;
    text-align: justify; 
}


